@font-face {
    font-family: 'KeepCalm-Medium';
    src: url('../../fonts/KeepCalm-Medium.ttf');
    }
@font-face {
    font-family: 'Futura-Light-Condensed-BT';
    src: url('../../fonts/Futura-Light-Condensed-BT.ttf');
    }
@font-face {
    font-family: 'Futura_Bold_Condensed_Bt';
    src: url('../../fonts/Futura_Bold_Condensed_BT.ttf');
    }

.imagen_pasos{
    width: 8rem;
}

.header {
background-color: #144580;
padding: 10px;
    }
body {
    width: 100%;
    height: 100vh;
    font-family: 'Futura-Light-Condensed-BT';
    font-weight: 600;
    font-size: 1.2rem;
}

.titulo{
    font-family: 'KeepCalm-Medium' !important;
}

  .boton_modificar{
    background-color: #f7931e;
    color: white;
    padding: 10px;
  }
  .boton_modificar:hover{
    background-color: #f7931e;
    color: white;
    padding: 10px;
  }
  .boton_generar{
    background-color: #E23A26;
    color: white;
    padding: 10px;
  }
  .boton_siguiente{
    background-color: #C9D358;
    color: white;
    padding: 10px;
  }
  .boton_siguiente:hover{
    background-color: #C9D358;
    color: white;
    padding: 10px;
  }
  .card{
    background-color: #f4e5c9;
  }
  .card-header{
    background-color: #f7931e;
  }
/* Celular */
@media only screen and (max-width: 480px) {
    .imagen_pasos{
        width: 4rem;
    }
}

.mensaje {
    border: 0
}

.archivo_select {
    position: relative;
    display: inline-block;
}

.archivo_select::before {
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* content: 'Seleccionar'; */
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.archivo_select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: auto;
    display: inline-block;
    font-size: 1.2rem;

}

@media (max-width: 700px) {
    .boton_centro {
        display: flex;
        justify-content: center;
    }
}

#canvas {
    border: 1px solid #9b9b9b;
    border: 1px solid black;
}

#exampleModalLabel {
    font-size: 2rem;
}

.modal-body {
    font-family: 'Futura-Light-Condensed-BT';
    /* font-weight: 600; */
    font-size: 1.4rem;
}

.boton_veracidad {
    font-weight: 700;
    font-size: 1.2rem;
}

.modal-body div ol {

    line-height: 10px;
    margin-bottom: 1rem;
}

.archivo_select {
    position: relative;
    /* Para que el texto absoluto esté posicionado con respecto a este elemento */
    border-radius: 20px;
    overflow: hidden;
    /* Evita que el texto se desborde */
    display: inline-block;
    /* Para que el contenedor se ajuste al tamaño del contenido */
    vertical-align: top;
    /* Para alinear correctamente con el texto y el input */
}

.archivo_select input[type="file"] {
    opacity: 0;
    /* Hacemos el input de archivo transparente */
    width: 100%;
    height: 100%;
    position: absolute;
    /* Posición absoluta para que se superponga al texto */
    top: 0;
    left: 0;
}

.texto_archivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
 .botones_inicio {
    cursor: pointer
 }

 .boton_guardar{
    font-family: 'KeepCalm-Medium'; 
    background-color:#f7931e;
    color:white
 }

 .boton_guardarSolter{
    font-family: 'KeepCalm-Medium'; 
    background-color:#f7931e;
    color:white
 }


 